.topnav .logo{
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
  text-decoration: none;
}

.topnav .logo span{
  color: var(--orange);

  
}

.topnav{
  position: fixed;
  top:0; left:0; right:0;
  z-index: 999;
  background: #f8f8fc;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 3rem 9%;
  
}

.topnav #login-btn i{
  font-size: 2.5rem;
  color: var(--black);
  display: none;
}

.btn,
.nav-order {
  display:inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  background: var(--orange);
  color: var(--white);
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  border-color: #f8f8fc;
  padding: .8rem 3rem;
}

.btn :hover,
.nav-order :hover {
  background: var(--orange);
}





.middle-navbar a{
font-size: 1.7rem;
margin:0.1rem;
color:var(--black);
text-decoration: none;

}

.middle-navbar a:hover{
color: var(--orange);
}

.far fa-user{
  height: 50px;
  width: 50px;
}